body {
  background: url('../../../assets/images/BG-YMCA.png') no-repeat;
  background-size: cover;
}

.ymca {
  width: 100%;
  height: 100%;

  .ymca--upper,
  .ymca--lower {
    display: flex;
    height: 50%;

    &__y,
    &__m,
    &__c,
    &__a {
      width: 50%;
    }

    .frames {
      transform: scale(0.5);
    }
  }
}
